$fuente_principal: "Montserrat", sans-serif;
// Colores
$RojoP:#cb2126;
$RojoB:#bb1f24;
$RojoS: #0e0303;
$rosa: #F53756;
$amarillo: #efc31c;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
//media queries
$smartphone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1408px;
