@use "base/variables" as *;
@use "base/mixins" as m;

.galeria{
    @include m.contenedor;
    h3{
        color: $blanco;
        margin-bottom: 5rem;
    }
    &-imagenes{
        img{
            height: 100%;
        }
        
        @include m.grid(2);
        gap: 1.5rem;
        @include m.tablet{
            @include m.grid(3);
            img:last-of-type{
                grid-column: 2/3;
            }
            gap: 1.5rem;
        }
        @include m.desktop{
            @include m.grid(4);
            gap: 1.5rem;
            img:last-of-type{
                grid-column: 4/5;
            }
            
        }
    }
}


.modal{
    position: fixed;
    inset: 0;

    background-color: rgba($negro, 0.6);
    display: grid;
    place-items: center;
    animation: fadeIn ease-in 0.5s;

    &.fade-out{
        animation: fadeOut ease-in 0.5s;
    }
    img{
        max-width: 100rem; 
    }
}

.btn-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background-color: $blanco;
    color: $negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}